<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Streaming</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css">
    <style>
        body {
            font-family: sans-serif;
            background-color: #396691;
        }

        marquee {
            font-size: 20px;
            font-weight: 700;
            color: black;
            font-family: sans-serif;
        }
    </style>
    <!-- Link to the favicon to avoid the error -->
    <link rel="icon" href="path/to/your/favicon.ico">
</head>
<body>
    <header>
        <marquee bgcolor="#396691">
            <div class="toggle"></div>
            <div id="file-name">Live Streaming</div>
        </marquee>
    </header>

    <div class="container">
        <video src="your-video-source" class="player" controls></video>
    </div>

    <footer>
        <center><h4>Video not playing? Your browser may not support the codec. Please download and watch instead.</h4></center>
    </footer>

    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
    <script src="https://github.com/Sankar8098/Files/tree/main/web/template/scripts.js"></script> <!-- Include your external script here -->
</body>
</html>
